<nav class="navbar">
    <div class="navbar-container">
      <img src="../../../assets/adepro_logo_trans4.png">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="Apropos">A Propos</a></li>
        <li><a href="Recette">Recettes</a></li>
        <li><a href="Createrecette">Créer Recettes</a></li>
        <li><a routerLink="ingredients">Ingrédients</a></li>
        <li><a href="Créer">Créer Ingredient</a></li>
        <li><a href="#">Contact</a></li>

      </ul>
      <div class="auth-buttons">
        <button class="login-btn">Login</button>
        <button class="signup-btn">Sign Up</button>
      </div>
    </div>
  </nav>